# Lab 5

Author: Ryan Rosiak [rrosiak1@gulls.salisbury.edu] and Grant Dawson [gdawson1@gulls.salisbury.edu]

Date: 10/29/20

Description: Working with the Iris data set to compute confidence intervals and work with more statistical tools

In [22]:
import matplotlib.pyplot as plt # Matplotlib library
import numpy as np # Numby library
import pandas as pd # Pandas library
import math # Math library

In [23]:
iris_data = pd.read_csv('./iris.data',
                        header=None,
                        names=['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class']
                       )
                        
iris_data.head() # Print some of the data

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [38]:
# 4.
# For each of the four numerical categories, compute the mean with a 95% confidence interval and showthem in a bar chart.
# Sepal Length
n = len(iris_data[['Sepal Length']].values) # Sample size
sl_Xbar = iris_data[['Sepal Length']].values.mean()
print('Sepal Length sample mean')
print(sl_Xbar)
sl_stddev = math.sqrt(np.var(iris_data[['Sepal Length']].values))
print('Sepal Length sample standard deviation')
print(sl_stddev)
sl_cinterval = (sl_Xbar - (1.96*sl_stddev / math.sqrt(n)), sl_Xbar + (1.96*sl_stddev / math.sqrt(n)))
print('Confidence Interval for Sepal Length')
print(sl_cinterval)
# Draw 50 samples of our distribution at least 30 times and get their means and use that to compute stddev(Xbar)

Sepal Length sample mean
5.84333333333
Sepal Length sample standard deviation
0.8253012917851409
Confidence Interval for Sepal Length
(5.7112576194696842, 5.9754090471969832)